<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="d-flex flex-nowrap w-100">
      <a class="navbar-brand" routerLink ="/index" ><img src="./assets/img/login/MetaWall.svg" class="" alt=""></a>
        <ul class="navbar-nav ms-auto me-4">
          <li class="nav-item dropdown" ngbDropdown >
            <a class="nav-link dropdown-toggle userInfo" id="navs"ngbDropdownToggle type="button" >
              <img [src]="userImage" class="userImage" alt=""(error)="updateUserUrl()">
              <span class="userName mx-3">{{userName}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navs" ngbDropdownMenu>
              <button class="dropdown-item"ngbDropdownItem href="#">我的貼文牆</button>
              <button class="dropdown-item"ngbDropdownItem routerLink="/userInfo" [queryParams]="{label:'Info'}">修改個人資料</button>
              <button class="dropdown-item" ngbDropdownItem (click)="addCarrier()">加入會員</button>
              <button class="dropdown-item" ngbDropdownItem (click)="logOut()">登出</button>
            </div>
          </li>
        </ul>
    </div>
  </div>


</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3">
<div class="sideBar">
  <div class="container">
    <div class="my-3 mt-3">
      <button class="sendPosts-btn"type="button" routerLink="/sendPost">張貼動態</button>
    </div>
    <div class="my-3 row">
      <div class="col-4">
        <img [src]="userImage" class="sidebar-image" alt=""(error)="updateUserUrl()">
      </div>
      <div class="col-8 d-flex justify-content-start align-items-center fw-bold">
          {{userName}}
      </div>
    </div>
    <div class="my-3 row sideBar-click"(click)="getFollowers()">
      <div class="col-4">
        <div class="sidebar-image d-flex justify-content-center align-items-center" alt="">
       <fa-icon [icon]="faBell" [class]="'text-center sidebar-svg-text'"></fa-icon>
        </div>
      </div>
      <div class="col-8 d-flex justify-content-start align-items-center fw-bold">
          追蹤名單
      </div>
    </div>
    <div class="my-3 row">
      <div class="col-4">
        <div class="sidebar-image d-flex justify-content-center align-items-center" alt="">
       <fa-icon [icon]="faThumbsUp" [class]="'text-center sidebar-svg-text'"></fa-icon>
        </div>
      </div>
      <div class="col-8 d-flex justify-content-start align-items-center fw-bold">
          我按讚的文章(尚未開發)
      </div>
    </div>

  </div>
</div>

    </div>
  </div>



  </div>


