<div class="col-12 TitleDiv">
  修改動態
</div>
<div class="my-5 container" *ngIf="IsMessageGet">
 <form (ngSubmit)="patchPosts()" [formGroup]="sendPostForm">
  <label>貼文內容</label>
    <textarea type="text" class="w-100" formControlName="discussContent" rows="10"></textarea>
    <input #fileInput type="file" (change)="uploadPhoto($event)" style="display:none;" />
    <button type="button" class=""(click)="fileInput.click()">上傳圖片</button><br/>
    <img [src]="sendPostForm.value['discussPhoto']" alt="" *ngIf="sendPostForm.value['discussPhoto'] != ''">
    <p class="text-danger text-center mt-5">
      {{postSendError}}
    </p>
    <button class="send-btn my-1">修改貼文</button>
 </form>
</div>

